body {
    margin: 0%;
    font-family: 'Manjari', sans-serif; /*уст.шрифт */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;    
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
}

.header-content {
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 235px;
    margin-left: 14px;
}
.links {
    width: 460px;
    display: flex;
    justify-content: space-between;

}

.link {                      /* работа с ссылками */
    text-decoration: none; /* убрать нижнее подчеркивание */
    font-size: 19px;
    color: #323332;
    transition: .3s;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link:active {
    color: #323332;
}

.link:hover {
    color: #e5e5e5;
    font-weight: 500;
    background: #373737; /* чтобы засветить ссылку при наведении*/ 
}
.banner{
    width: 1024px;
    height:540px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ipad{
    margin-right: -150px;
}
.title-big{
    font-size: 44px;

}
.title-middle{
    font-size: 33px;
}
.banner-name{
    display: flex;
    flex-direction: column;
}
.banner-button{
    background: #373737;
    width: 205px;
    height: 40px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-button:hover{
    animation-name: shake;
    animation-duration: .2s;
    animation-iteration-count: infinite;
}
.camera{
    margin-right: 10px;
}
.content{
    width: 1024px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}
.content-info{
    border:1px solid red;
    height: 1040px;
    width: 680px;
}
.ads{
    border: 1px solid green;
    height: 1000px;
    width: 325px;
}
.slider{
    width: 100%;
    height: 242px;
    display: flex;
    position: relative;
}
.slider-img{
    height: 100%;
    width: 310px;
    /*background: #e6e6e6;*/
    /*box-shadow: inset -30px 0 70px 1px rgba(0, 0, 0, 0.3)*/
    background: radial-gradient(#e9e6e6,#a5a5a5);
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-content{
    margin-left:30px;
    display: flex;
    flex-direction: column;
    width: 320px;
    font-size: 15px;

}
.slider-title{
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 17px;
}
.slider-buttoms{
    width: 64px;
    height: 39px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
}
.buttom-item{
    height: 100%;
    width: 32px;
    background: #989998;
    cursor: pointer;
    transition: .3s;
    background-repeat: no-repeat;
    background-position: center;
}
.next{
    border-left:1px solid white;
    background-image: url("../images/right-arrow.png");
}
.buttom-item:hover{
    background-color: #7d7c7d;
}
.prev{
    background-image: url("../images/right-arrow.png");
    transform:rotate(180deg);
}

.footer {
    width: 100%;
    height: 86%;
    background: #393a39;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.copyright {
    width: 1024px;
    text-align: center;
    margin-top: 16px;
    position: relative;
}

.share-link {
    text-decoration: none;
}

.share {
    width: 112px;
    display: flex;
    justify-content: space-between;
    right: -35;
    top: 0;
}
.hamburger {
    width: 80px;
    height: 80px;
    border: 2px solid #323332;
    cursor: pointer;
    border-radius: 8px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.hamb-line {
    width: 60px;
    height: 3px;
    border: 1px solid #323332;
    background: #323332;
    position: relative;
}

.hamb-line:after {
    content: '';
    width: 60px;
    height: 3px;
    border: 1px solid #323332;
    background: #323332;
    position: absolute;
    left: 0;
    top: -15;
}

.hamb-line:before {
    content: '';
    width: 60px;
    height: 3px;
    border: 1px solid #323332;
    background: #323332;
    position: absolute;
    left: -1;
    bottom: -15;
}

/*чтобы спрятать кнопку для мал.размера.*/
@media screen and (max-device-width: 786px)  {
    .hamburger {
        display: flex;
    }
    .links {
        display: none;
    }
}
@media screen and (max-device-width: 1024px)  {
    .header-content {
        width: 100%;
    }
    
}

@media screen and (max-device-width: 1024px)  {
    .banner {
        width: 100%;
        flex-direction:column-reverse; /*чтобы стало в колонку*/       
        margin: 30px ;
     }
    .ipad {
        margin-right: 0;
    }
    
}


@keyframes shake{
    0%{
        transform: rotate(0);
    }
    33%{
        transform: rotate(2deg) scale(1.2);
    }
    66%{
        transform: rotate(0) scale(0.9);
    }
    100%{
        transform: rotate(-2deg) scale(1.1);
    }
}
